.contactsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  font-size: 16px;
  padding: 2px 15px;
  border-radius: 4px;
  border: 1px solid #9c777e;
  background-color: #c0b3b3;
  color: #6e1010;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #7a0e23;
  background-color: #f26969;
  color: #1a1111;
}
